*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// .canvas-container{
//     height: 100vh;

// }
// body{
//     cursor: none;

// }
.cursor{
    width: 25px;
    height: 25px;
    border: 1px solid red;
    border-radius: 50%;
    position: absolute;
    z-index: 10;
    animation: cursorAnim .7s infinite alternate;
    pointer-events: none;
}

.cursor::after{
    content:"";
    position: absolute;
    width:40px;
    height:40px;
    border: 8px solid pink;
    top:-8.8px;
    left:-8.8px;
    border-radius: 50%;
    opacity: .5;
    animation: cursorAnim2 .7s infinite alternate;
}

.expand{
    animation: cursorAnim3 .5s forwards;
    border: 1px solid yellow;
    z-index: 10;
}

@keyframes cursorAnim {
    from {
        transform: scale(1)
    }
    to{
        transform: scale(.7)
    }
}

@keyframes cursorAnim2 {
    from {
        transform: scale(1)
    }
    to{
        transform: scale(.4)
    }
}

@keyframes cursorAnim3 {
    0% {
        transform: scale(1);
    }
    50%{
        transform: scale(3);
    }
    100%{
        transform: scale(1);
        opacity:0;
    }
}


#myCanvas{
    // position: relative!important;
    z-index: 0;
}

// .vertical-buttons-container{
//     display: flex;
//     flex-direction: column;
// }

// .level-5-container{
//     height: 100vh;
//     .level-5-buttons-wrapper{
//         #btn-container-1, #btn-container-3, #btn-container-5{
//             transform: rotate(-45deg);
//             // margin-right: -1em;
//         }
//         #btn-container-2, #btn-container-4{
//             transform: rotate(45deg);

//         }
//     }
// }

// .level-6-container{
//     height: 100vh;
//     .circles-container{
//     .circle{ 
//         height: 3em;
//         width: 9em;
//         .dot{
//             // background-color: red;
//             height: 1em;
//             width: 1em;
//             border-radius: 20px;
//             // margin: 0.5em;
//         }
//     }
// }
// }
// .level-7-submit{
// margin-top: 500px;
// }

// // .modal-level-1{
// //     cursor: default;
// // }

#level0{
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
}

iframe{
    box-shadow: 1px 1px 20px white;
}

.heading{
    margin-bottom: 1em;
    color:white
}
.startApp{
    border:none;
    border-radius: 20px;
    padding:1em;
    background-color: #F2D388;
    margin-top:1em;
}