*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cursor{
    width: 25px;
    height: 25px;
    border: 1px solid red;
    border-radius: 50%;
    position: absolute;
    z-index: 10;
    animation: cursorAnim .7s infinite alternate;
    pointer-events: none;
}

.cursor::after{
    content:"";
    position: absolute;
    width:40px;
    height:40px;
    border: 8px solid pink;
    top:-8.8px;
    left:-8.8px;
    border-radius: 50%;
    opacity: .5;
    animation: cursorAnim2 .7s infinite alternate;
}



.expand{
    animation: cursorAnim3 .5s forwards;
    border: 1px solid yellow;
    z-index: 10;
}

.modal-content {
    box-shadow: -2px 4px 8px 0px lightslategray
}

.modal-in {
    display: block;
    animation: modalAnimIn .5s forwards;
}

.modal-out {
    display: block;
    animation: modalAnimOut .5s forwards;
}

.modal-hide {
    display: none;
    top: -300px
}

.canvas-in {
    animation: canvasAnimIn 1s forwards;
}
.canvas-out {
    animation: canvasAnimOut 1s forwards;
}

@keyframes modalAnimIn {
    0% {
        top: -300px
    }
    50%{
        top: 30px
    }

    100% {
        top: 0px
    }
}

@keyframes modalAnimOut {
    0% {
        top: 0px
    }
    10%{
        top: -30px
    }
    100%{
        top: 1000px
    }
}

@keyframes canvasAnimIn {
    from {
        opacity: 0
    }
    to{
        opacity: 1
    }
}

@keyframes canvasAnimOut {
    from {
        opacity: 1
    }
    to{
        opacity: 0
    }
}

@keyframes cursorAnim {
    from {
        transform: scale(1)
    }
    to{
        transform: scale(.7)
    }
}

@keyframes cursorAnim2 {
    from {
        transform: scale(1)
    }
    to{
        transform: scale(.4)
    }
}

@keyframes cursorAnim3 {
    0% {
        transform: scale(1);
    }
    50%{
        transform: scale(3);
    }
    100%{
        transform: scale(1);
        opacity:0;
    }
}


#myCanvas{
    z-index: 0;
    box-shadow: 0px 0px 10px 0px darkgray;
}


#level0{
    display: flex;
    justify-content:center;
    .level0-container {
        width: 1052px;
        background-color: black;
        height: 100vh;
        box-shadow: 0px 0px 10px 0px darkgray;
        .level0-content {
            height: 100%;
            display: flex;
            justify-content:center;
            align-items:center;
            flex-direction: column;
        }


    }

}

iframe{
    box-shadow: 1px 1px 10px white;
    border: none;
    border-radius: 5px;
}

.heading{
    margin-bottom: 1em;
    color:white
}
.startApp{
    border:none;
    border-radius: 20px;
    padding:1em;
    background-color: #F2D388;
    margin-top:1em;
}